@model IEnumerable<rc.Domain.StaffProfile>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Staff Directory</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffNo)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.StaffAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StaffEmail)
            </th>
           
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffNo)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.StaffAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffEmail)
            </td>
        </tr>
    }
    
    </table>
