@model rc.Domain.PatientAdmission

<div role="tabpanel" style="font-size:smaller">

    <ul class="nav nav-tabs" role="tablist">

        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Patient Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Admission Details</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Admission Assesments</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <div class="row">
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.Surname)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Surname)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FirstName)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.KnownAs)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.KnownAs)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DOB)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DOB)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.MartialStatus)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MartialStatus)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Sex)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Sex)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Religion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Religion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Occupation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Occupation)
                        </dd>


                    </dl>
                </div>
                <div class="col-md-4">
                    <dl class="dl-horizontal">
                        <dt>
                            <span>Next of Kin (1)</span>
                        </dt>

                        <dd>

                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin1Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin1Name)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin1Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin1Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin1Relation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin1Relation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin1Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin1Phone)
                        </dd>
                        <dt>
                            <span>Next of Kin (2)</span>
                        </dt>

                        <dd>

                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin2Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin2Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin2Address)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin2Address)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin2Relation)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin2Relation)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.NextOfKin2Phone)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.NextOfKin2Phone)
                        </dd>


                    </dl>
                </div>
                <div class="col-md-3">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.MedicalCardNo)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.MedicalCardNo)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.isSmoker)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.isSmoker)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.isAlcoholic)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.isAlcoholic)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Hobbies)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Hobbies)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RegisterNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegisterNo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateOfAdmission)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateOfAdmission)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AdmissionType)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AdmissionType)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ReasonForAdmission)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ReasonForAdmission)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.WardID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ward.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BedNo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BedNo)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.GeneralPractitionerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.GeneralPractitioner.SurName)
                </dd>
            </dl>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.MedicalHistory)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MedicalHistory)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.SurgicalHistory)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SurgicalHistory)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Allergies)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Allergies)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.MRSAStatus)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.MRSAStatus)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Height)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Height)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.weight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BP)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BP)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Pulse)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Pulse)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Resps)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Resps)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Temperature)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Temperature)
                </dd>
            </dl>

        </div>
    </div>
</div>

