@model rc.Domain.ViewModel.PatientDiaryViewModel

@{
    ViewBag.Title = "Daily Diary";
    Layout = "~/Views/Shared/_patientLayout.cshtml";
}

@section image{
    <img width="120" height="auto"  src="data:image;base64,@System.Convert.ToBase64String(Model.PatientAdmission.ProfilePicture)" class="img-thumbnail" /><br />
    <div class="well well-sm">
        <span>Name: </span>@Model.PatientAdmission.KnownAs<br />
        <span>DOB: </span>@Model.PatientAdmission.DOB<br />
    </div>
}
@*@using (Html.BeginForm())
{*@
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>PatientDailyDiary</h4>
        <hr />
        <div class="row">
            <div class="col-lg-7">
                <div class="panel panel-primary">
                    <div class="panel-heading"><b>Daily Diary Notes</b></div>
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">

                            <div class="col-md-12">
                                @Html.TextAreaFor(model => model.PatientDailyDiary.DiaryNotes, 6, 80, new { @width = "100%", @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.PatientDailyDiary.DiaryNotes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PatientDailyDiary.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-8">
                                @Html.DropDownList("PatientDailyDiary.Priority", (IEnumerable<SelectListItem>)ViewBag.Priority, new { @class = "form-control" })
                                @*@Html.EditorFor(model => model.Priority, new { htmlAttributes = new { @class = "form-control" } })*@
                                @Html.ValidationMessageFor(model => model.PatientDailyDiary.Priority, "", new { @class = "text-danger" })

                            </div>
                            <div class="col-md-2">
                                <button id="save" class="submitt btn btn-primary">Save</button>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="careplans">
                    @Html.Partial("_dairyDetails", Model.PatientDailyDiaryList)
                </div>
            </div>
            <div class="col-lg-5">
                <div class="panel panel-primary">
                    <div class="panel-heading"><b><i class="glyphicon glyphicon glyphicon-calendar"></i>  Care Plan</b></div>
                    <div class="panel-body" style="font-size:x-small">
                        @Html.Partial("_carePlan",Model.CarePlans)
                    </div>
                </div>
            </div>
        </div>
    </div>
@*}*@
@section scripts{
    <script type="text/javascript">
        $("#save").click(function () {
            Priority = $("#PatientDailyDiary_Priority").val();
            DiaryNotes = $("#PatientDailyDiary_DiaryNotes").val();

            $.ajax({
                url: '/Patient/DailyDiaryJson',
                type: 'POST',
                data: JSON.stringify({
                    "DiaryNotes": DiaryNotes,
                    "Priority": Priority
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    $('#careplans').load('/Patient/ListDailyDiaryJson/1');
                    $("#PatientDailyDiary_DiaryNotes").val("");
                },
                    error: function () {
                        alert("error");
                    }
                })
        });

    </script>
}

